# Project: Investigate The Movie Database (TMDb) Dataset

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#rq1">Research Question 1 - Do movie stars move to bigger budget films as their career progresses?</a></li>
<li><a href="#rq2">Research Question 2 - Is the TMDb popularity linked to the revenue taken by the film?</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

I have chose to investigate the TMDb (The Movie Database) dataset, as this is the one which I have the most previous knowledge and interest in. The database includes information on over 10,000 movies, including details such as the cast and the budget.

This Jupyter notebook was created with **python version 2.7.15**.

In [ ]:
import pandas as pd
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

First of all I will load the csv (Comma Separated Values) dataset into pandas, before looking at the start and end of the dataset.

### General Properties

In [ ]:
tmdb = pd.read_csv("tmdb-movies.csv")       #load data
tmdb.head                                   #output the start and end of the data

Looking at the start and end of the data, it can be seen that the budget and revenue data is missing for older films, but as this data may be usefull, it is worth keeping the data series.
The homepage, tagline, keywords and overview columns are long columns which are unlikely to provide usable data, so I plan to drop these to make the table easier to read. I am also unlikely to use the imdb_id column, so this will also be dropped. I will also output the first row of data to see a clearer samle of the headings and respective data.

>Note - Only run this cell once, otherwise you will get an error as it tries to delete the columns again.
### Data Cleaning

In [ ]:
del tmdb['homepage']                        #only run this cell once
del tmdb['tagline']
del tmdb['keywords']
del tmdb['overview']
del tmdb['imdb_id']

In [ ]:
print(tmdb.iloc[0])                          #print column names and first row (0)

The cast, genres and production_companies look like interesting datasets to probe, so I am going to add total counts of the data in these columns to 3 new columns.
First of all I need to check for any empty series, as I will be adding 1 to the count of '|' characters, which will only be present when there is more that one item.

In [ ]:
print('Cast length:', len(tmdb['cast']))
print('Genres length:', len(tmdb['genres']))
print('Production companies length:', len(tmdb['production_companies']))

Then I count the separators and add one column to the dataset for the count of items in each series.

>Note - Only run this cell once, otherwise you will get an error as it tries to create the columns again.

In [ ]:
tmdb['cast_count'] = (tmdb['cast'].str.count('\|')) + 1    #only run this cell once
tmdb['genre_count'] = (tmdb['genres'].str.count('\|')) + 1
tmdb['companies_count'] = (tmdb['production_companies'].str.count('\|')) + 1

Again print the first datapoint and the data types statistics for the dataset.

In [ ]:
print(tmdb.iloc[0])
print(tmdb.dtypes)

Now change the data types in the data frame, to their respective data types - integers, floats and dates.

In [ ]:
def parse_maybe_int(i):
    if i == '':
        return None
    else:
        return int(i)

tmdb['budget_adj'] = tmdb['budget_adj'].apply(parse_maybe_int)
tmdb['revenue_adj'] = tmdb['revenue_adj'].apply(parse_maybe_int)

print(tmdb['budget_adj'].head)
print(tmdb['revenue_adj'].head)

Note the dates are in US format - months/days/years

Default 2digit dates in python for 19xx are from 1969, so we will need to change the dates before 1969, from 2066, 2067 & 2068 to 1966, 1967 & 1968 respectively. As the dates are in the range 1966 to 2015, I know all dates after 2015 should infact begin with 19xx, so I will subtract 100 years off of all dates with a year greater than today (2018).

In [ ]:
def parse_date(date):
    if date == '':
        return None
    else:
        return dt.datetime.strptime(date, '%m/%d/%y')
    
def parse_pre69(date1):
    if date1.year > 2018:
        return date1.replace(year=date1.year-100)
    else:
        return date1

tmdb['release_date'] = tmdb['release_date'].apply(parse_date)
tmdb['release_date'] = tmdb['release_date'].apply(parse_pre69)

print(tmdb['release_date'].head)
print(tmdb['release_year'].head)

I then sorted the dataset in date format, before then displaying the start and end of the datset, to ensure that I parsed all of the dates correctly.

In [ ]:
tmdb = tmdb.sort_values(by=['release_date'], ascending=True)
print(tmdb.head)

Finally I use the pandas .describe function, to see the statistics of the data in each of the columns.

In [ ]:
tmdb.describe()

<a id='eda'></a>
## Exploratory Data Analysis

<a id='rq1'></a>
### Research Question 1 - Do movie stars move to bigger budget films as their career progresses?

As movie stars progress in their career, they normally take on more major parts in big films. I plan to see if there is an increase in the budget of the films over the top 20 stars careers. With the number of actors for each film restrcted to 5, parts of an actors career will not show in the statistics. I will need to compare this first to the inflation adjusted budget of the film, and then also the takings of the film, as a high takings to budget ratio may show when an actor has made the film more money, which then enabled then to claim a higher wage.

First of all I will separate all of the actors out into a separate data frame, before then combining into a single list, to see who the top 20 actors are.

In [ ]:
actorsdf = tmdb['cast'].str.split('|', expand=True).rename(columns = lambda x:"actor"+str(x+1))
#lambda x: "string"+str(x+1)
print('Actors from oldest film:', actorsdf.iloc[0])
print('Start and end of Actors dataframe:', actorsdf.head)

In [ ]:
single_list = pd.concat([actorsdf['actor1'],actorsdf['actor2'],actorsdf['actor3'],actorsdf['actor4'],actorsdf['actor5']], ignore_index=True)
print('Single list length:', len(single_list))
print('Start and end of single list:', single_list.head)

Then I will create a list with the total count of each actor appearing in the dataset.

In [ ]:
sorted_list = single_list.value_counts()
sorted_list = sorted_list.rename_axis('Actor').reset_index(name='Count')
print('Actors list length:', len(sorted_list))
print('Start and end of Top Actors:', sorted_list.head)

Then I will plot this list as a histogram to see if there is a good spread of data.

In [ ]:
plt.hist(sorted_list['Count'])
plt.xlabel('Count of movies per Actor')
plt.ylabel('Number of Actors with respective film count')
plt.title('Actors vs Film Count')

As the majority of actors have appeared in less than 10 films (as a top 5 actor), I will create a shorter list containing just the top 20 actors, so that I the most data for each actor to compare against one another.
I will also plot another histogram for these top 20 actors.

In [ ]:
short_list = sorted_list.head(20)
print(short_list)
plt.hist(short_list['Count'])
plt.xlabel('Count of movies per Actor')
plt.ylabel('Number of Actors with respective film count')
plt.title('Actors vs Film Count')

Now that I have a useable Actor dataset, I can analyse the main TMDb dataset, and graph the out put.

I have defined two routines for creating the graphs, one to filter out the small and zero values I was seeing for the inflation adjusted budget, and the second to extract the data to graph for just one Actor.

In [ ]:
def parse_budget(budget):
    if budget > 100:
        return budget

def top20_graph(i):
    g = 'g'+str(i)
    g = tmdb[tmdb['cast'].str.contains(short_list['Actor'].iloc[i])==True]
    del g['id']
    del g['popularity']
    del g['budget']
    del g['revenue']
    del g['director']
    del g['runtime']
    del g['genres']
    del g['production_companies']
    del g['vote_count']
    del g['vote_average']
    del g['release_year']
    del g['cast_count']
    del g['genre_count']
    del g['companies_count']
    del g['cast']
    del g['revenue_adj']
    del g['original_title']
    g = g.set_index(['release_date'])
    g = g['budget_adj'].apply(parse_budget)
    g = g.dropna()
    print('Graph for Actor:', short_list['Actor'].iloc[i])
    print('Top Actor Number:', i+1)
    print('Was a top 5 Actor in:', short_list['Count'].iloc[i], 'films')
    print('Number of plotted films:', len(g))
    plt.plot(g, 'ro')
    plt.xlabel('Date (Year)')
    plt.ylabel('Inflation Adjusted Revenue')
    plt.title(short_list['Actor'].iloc[i])

I then created graphs for the Top 20 Actors.

In [ ]:
top20_graph(0)

In [ ]:
top20_graph(1)

In [ ]:
top20_graph(2)

In [ ]:
top20_graph(3)

In [ ]:
top20_graph(4)

In [ ]:
top20_graph(5)

In [ ]:
top20_graph(6)

In [ ]:
top20_graph(7)

In [ ]:
top20_graph(8)

In [ ]:
top20_graph(9)

Unfortunately I could not see a corellation between the budget of a film increasing as a movie stars career progresses.
If the data had been available, this may have shown for actors at the start of their career, before they were mentioned in the top 5 actors.

<a id='rq2'></a>
### Research Question 2 - Is the TMDb popularity linked to the revenue taken by the film?

I then wanted to see if the TMDb popularity was linked to the revenue taken by the film. I wanted to graph the inflation adjusted revenue against the average vote, however if this did not show a corellation, I could also look at the vote count and popularity data series.
First I reminded myself of the first data point in my dataset.

In [ ]:
print(tmdb.iloc[0])

I then created a new dataset where the value of the adjusted budget was at least 100, in order to remove any erroneous data points, before returning the size of the new dataset.

In [ ]:
rev = tmdb[tmdb['revenue_adj']>100]
print(len(rev))

I then again called up the first data point to ensure that the first data point with 0 for adjusted budget had been removed.

In [ ]:
print(rev.iloc[0])

I then separated out the data series I wanted to graph, along with the backup data series', before plotting the inflation adjusted revenue against the average vote.

In [ ]:
ra = rev['revenue_adj']
va = rev['vote_average']
vc = rev['vote_count']
po = rev['popularity']

plt.scatter(ra,va)
plt.xlabel('Inflation Adjusted Revenue')
plt.ylabel('Average Vote')
plt.title('Revenue plotted against the average TMDb vote')

Whilst there was a positive skew showing that films with a larger budget tend to have a larger vote, I wanted to see if I had a better result off plotting the other data series, so I also plotted these.

In [ ]:
plt.scatter(ra,vc)
plt.xlabel('Inflation Adjusted Revenue')
plt.ylabel('Vote Count')
plt.title('Revenue plotted against the count of TMDb votes')

In [ ]:
plt.scatter(va,vc)
plt.xlabel('Average Vote')
plt.ylabel('Vote Count')
plt.title('The average TMDb vote against the count of TMDb votes')

In [ ]:
plt.scatter(ra,po)
plt.xlabel('Inflation Adjusted Revenue')
plt.ylabel('Popularity')
plt.title('Revenue plotted against the TMDb popularity')

In [ ]:
plt.scatter(va,po)
plt.xlabel('Average Vote')
plt.ylabel('Popularity')
plt.title('Average vote against the TMDb popularity')

<a id='conclusions'></a>
## Conclusions

Whilst I did not show any correlation between the top actors against the film budget, there was a correlation between the TMDb vote and the revenue taken by the film.

It was still worthwile comparing the top actors against the budget, to see that this was not the case, but also the main benefit was to see how many films the top actors had actually starred in.

The positive correlation between the vote and revenue could benefit the production companies, as they may be able to select a test sample of reviewers to watch the film, in order to give a pre-release indication of the expected revenue of the film.